table.reports {
  border-spacing: 0;
  margin: {
    right: auto;
    left: auto;
  }
  background: #00000029;
  border-radius: 10px;

  td {
    text-align: left;
    padding: 0 0.5rem;

    &.header {
      text-align: right;
      border-right: 1px solid #00000026;
    }
  }
}
