.forms2 {
  table {
    width: 720px;
    border: 1px solid grey;
    border-collapse: separate;
    border-spacing: 1px;

    td {
      border: 1px solid grey;
    }

    td.header {
      background-color: #ffffff;
      font-weight: bold;
      text-align: center;
      border-width: 1px;
      vertical-align: top;
    }

    td {
      font-family: "AvantGarde";
      vertical-align: top;
    }
  }
}
