h1 {
  margin-bottom: 0.0001pt;

  font-size: 12pt;
  font-family: Helvetica;
  font-weight: normal;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
}
p.MsoNormal {
  margin-bottom: 0.0001pt;

  font-size: 12pt;
  font-family: Helvetica;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
}
h3 {
  margin-bottom: 0.0001pt;

  font-size: 12pt;
  font-family: Helvetica;
  font-weight: normal;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
}
h4 {
  margin-bottom: 0.0001pt;

  font-size: 12pt;
  font-family: Helvetica;
  font-weight: normal;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
}
h6 {
  margin-bottom: 0.0001pt;
  text-align: center;
  page-break-after: avoid;
  font-size: 12pt;
  font-family: Arial;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
}
.style1 {
  font-size: medium;
  text-align: center;
}
.style2 {
  color: #0000ff;
}

.phonetic-table {
  border: 1px solid #c0c0c0;
  border-collapse: separate;
  border-spacing: 1px;
  width: 296px;

  margin: {
    left: auto;
    right: auto;
  }

  td {
    border: 1px solid #c0c0c0;
  }

  .entry {
    vertical-align: middle;
    align-content: center;
    color: ff0000;
    background-color: #fff;
    b {
      color: #ff0000;
    }
  }

  .header {
    text-align: center;
  }
}

.hr {
  border: {
    top: 1px dashed black;
    bottom: 1px dashed black;
    left: none;
    right: none;
  }
  max-width: 886px;
  margin: 2em auto;
  height: 3px;
}
