.auto-style1 {
  width: 60%;
	border-style: solid;
	text-align: center;
	border-width: 0;
}
.auto-style5 {
  line-height: 150%;
	font-size: small;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style7 {
  width: 50%;
	border-collapse: collapse;
	border-width: 0;
}
.auto-style8 {
  width: 60%;
	border-style: solid;
	text-align: left;
	border-width: 0;
}
.auto-style9 {
  font-style: normal;
	font-size: large;
}
.auto-style10 {
	font-size: x-large;
}
