html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100vh;
}

.auto-style1 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

}

.auto-style3 {

	font-size: medium;

	color: #FFFF00;

}
.auto-style6 {

	color: #FFFF00;

}

.auto-style32 {

	color: #808000;

	font-size: medium;

}

.auto-style33 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	text-align: center;

}

.auto-style34 {

	color: #FFFF00;

	font-size: xx-large;

	text-align: center;

}

.auto-style37 {

	text-align: center;

}

.auto-style7 {

	font-size: medium;

	color: #FFFF00;

	font-family: Arial, Helvetica, sans-serif;

}

.auto-style8 {

	font-family: Arial, Helvetica, sans-serif;

}

.auto-style13 {

	font-size: medium;

	font-family: Arial, Helvetica, sans-serif;

}

.auto-style15 {

	text-align: center;

	font-size: large;

	font-family: Arial, Helvetica, sans-serif;

	color: #808000;

}

.auto-style16 {

	color: #FFFF00;

	font-size: x-large;

	font-family: Arial, Helvetica, sans-serif;

}

.auto-style39 {

	color: #FFFF00;

	text-align: center;
	font-size: medium;
}

.auto-style41 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	text-align: left;

}

.auto-style45 {

	border: 0 solid #FFFFFF;

	background-color: #FFFFFF;

	text-align: center;

	color: #000000;

}

.auto-style46 {

	border: 0 solid #FFFFFF;

	background-color: #FFFFFF;

	text-align: left;

}

.auto-style49 {

	font-size: large;

}

.auto-style50 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	text-align: center;

	font-size: x-large;

	font-weight: bold;

	color: #FFFF00;

}

.auto-style51 {

	color: #FFFF00;

	font-weight: bold;

	font-size: x-large;

}

.auto-style52 {

	font-size: xx-large;

	font-weight: bold;

	color: #FFFF00;

}

.auto-style53 {

	color: #FFFF00;

	font-size: x-large;

}

.auto-style59 {

	text-align: center;

	font-size: large;

	color: #FFFF00;

	font-family: Arial, Helvetica, sans-serif;

}

.auto-style60 {

	font-size: large;

	color: #FFFF00;

}

.auto-style61 {

	border: 2px solid #FFFFFF;

	text-align: center;
	color: #808000;
	font-size: large;
}

.auto-style62 {

	border-width: 0px;

}

.auto-style64 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	color: #FFFF00;

	font-size: x-large;

	text-align: center;

}

.auto-style66 {

	color: #000000;

}

.auto-style69 {

	border: 0 solid #FFFFFF;

	background-color: #FFFFFF;

	text-align: left;

	color: #000000;

}

.auto-style71 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	color: #FFFFFF;

}

.auto-style72 {

	color: #FFFFFF;

	font-size: x-large;

}

.auto-style73 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	font-size: x-large;

	color: #FFFFFF;

}

.auto-style74 {

	color: #FFFFFF;

}

.auto-style75 {

	border: 2px solid #FFFFFF;

	background-color: #800080;

	font-size: x-large;

}

.auto-style76 {
	text-decoration: underline;
}

.auto-style78 {
	color: #FFFF00;
	font-size: large;
	text-align: center;
}

.auto-style79 {
	background-color: #000080;
}
.auto-style80 {
	font-size: x-large;
}

.auto-style81 {
	border: 2px solid #FFFFFF;
	text-align: center;
	color: #808000;
	font-size: x-large;
}
.auto-style82 {
	font-size: large;
	color: #FFFF00;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style83 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #808000;
}

.auto-style84 {
	color: #808000;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style85 {
	color: #808000;
}
.auto-style86 {
	color: #FFFF00;
	font-family: Arial, Helvetica, sans-serif;
}

.style2 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	text-align: center;
	font-size: xx-large;
	background-image: url('../../static/img/RRIlogo.jpg');
}

.style3 {
	text-align: left;
}

.style4 {
	text-decoration: none;
}

.style5 {
	border-width: 0;
}

.style6 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	color: #FFFF00;
}

.style7 {
	color: #FFFF00;
	font-weight: bold;
}
.style8 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	text-align: center;
	font-weight: bold;
}

.style9 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	font-size: x-large;
	text-align: center;
}
.style10 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	font-size: x-large;
	color: #FFFFFF;
	text-align: center;
}
.style11 {
	border: 2px solid #FFFFFF;
	background-color: #800080;
	color: #FFFFFF;
	text-align: center;
}
.style12 {
	font-weight: normal;
}
